@import "vars";


// Need to fix and add more breakpoints

@media (min-width: $screen-tab-s) {
  .card {
    display: block;

    .profile__btn-container {
      display: block;
    }

    .stat {
      display: flex;
      justify-content: space-between;

      &__data {
        padding-inline: 40px;
        width: 100%;
      }
    }
  }

}

@media (min-width: $screen-desk-m) {
  .container {
    max-width: 900px;
    background-color: #fff;
  }
}
