$default-font: roboto-example, sans-serif;
$primary-color: #786450;
$background-1: #EAB537FF;
$background-2: #faf3e9;
$background-3: #efd6c4;
$background-4: #eac6ac;
$background-container: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
$card-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
$border-radius-s: 2px;
$border-radius-m: 4px;

// screen breakpoints

$screen-desk-xl: 2560px;
$screen-desk-l: 1920px;
$screen-desk-m: 1536px;
$screen-desk-s: 1280px;
$screen-tab-s: 768px;
$screen-mob-m: 412px;
$screen-mob-s: 360px;


