@use "sass:math";

@import "vars";
@import "fonts";
@import "libs";
@import "modifiers";

@mixin reset-default {
  margin: 0;
  padding: 0;
}

@mixin btn-default {
  cursor: pointer;
  padding: 5px 40px;
  border: 1px solid;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $default-font;
  box-sizing: border-box;
}

.container {
  margin: 40px auto;
  padding: 40px 30px;
  //max-width: 400px;
  //max-height: 400px;

  &--bg-color {
    background: var($background-1);
  }

  background-image: $background-container;
  border-radius: $border-radius-s;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: $border-radius-m;
  box-shadow: $card-box-shadow;
  color: $primary-color;
  text-align: center;
  overflow: hidden;

  &--bg-color {
    background: $background-2;
  }


}

.profile {
  padding: 30px;

  &__profile-content {
    margin-bottom: 40px;
  }

  &__profile-img {
    margin-bottom: 20px;

    .user-img {
      border-radius: 50%;
      border: 0.5px solid $primary-color;
    }
  }

  &__content {
    @include reset-default;
  }

  .content--font-m {
    font-size: $text-size-m;
  }

  .content--font-xs {
    font-size: $text-size-xs;
  }

  &__btn-container {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    max-width: fit-content;
    
    .btn-main {
      @include btn-default;

      border-radius: 50px;
      background-color: inherit;
      color: inherit;
      transition: all 0.3s ease-in-out;

      &--font-s {
        font-size: $text-size-s;
      }

      &:hover {
        color: $secondary-color;
        background-color: $primary-color;
      }
    }
  }
}


.stat {
  display: grid;
  justify-content: center;
  gap: 2px;
  text-align: center;

  .data--bg-color {
    background: $background-3;
    transition: background 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $background-4;
    }
  }

  &__data {
    padding: 20px 30px;
    display: grid;
    align-items: center;
    transition: background 0.4s ease-in-out;
  }


  &__list {
    @include reset-default;

    .list-item:last-child {
      @include reset-default;
    }

    .list-item--font-l {
      font-size: $text-size-l;
    }


    .list-item--font-xs {
      font-size: $text-size-xs;
    }
  }
}

// ALWAYS END
@import "media";
