@use "sass:math";

@import "vars";
@import "fonts";
@import "libs";
@import "modifiers";
@import "media";


// does not apply margin and padding globally
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin btn-default {
  cursor: pointer;
  padding: 5px 40px;
  border: 1px solid;
}

body {
  min-width: 360px;
  font-size: 16px;
  line-height: 1.5;
  font-family: $default-font;
}

.container {
  @include desk-s {
    max-width: 900px;
  }
  
  margin: 40px auto;
  padding: 40px 30px;
  border-radius: $border-radius-s;

  &--bg-color-1 {
    // exception without var
    background: var($background-1);
    background-image: $background-container;

    .card {
      background: $background-2;
    }

    .stat__link {
      background: $background-3;
      transition: background 0.4s ease-in-out;

      &:hover {
        background-color: $background-4;
      }

    }
  }

  &--bg-color-2 {
    background: $background-mono-1;

    .card {
      background: $background-mono-2;
    }

    .stat__link {
      background: $background-mono-3;
      transition: background 0.4s ease-in-out;

      &:hover {
        background-color: $background-mono-4;
      }
    }
  }


}

.card {
  @include tab-s {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;
  border-radius: $border-radius-m;
  box-shadow: $card-box-shadow;
  color: $primary-color;
  text-align: center;
  overflow: hidden;
}

.profile {
  padding: 30px;
  width: 100%;

  &__content {
    margin-bottom: 40px;
  }

  &__img {
    margin-bottom: 20px;

    .user-img {
      border-radius: 50%;
      border: 0.5px solid $primary-color;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__description {
    margin: 0;
    padding: 0;
  }

  &__btn-container {
    @include tab-s {
      grid-template-columns: repeat(2, 1fr);
    }

    margin: 0 auto;
    display: grid;
    gap: 10px;
    max-width: fit-content;

    .btn-main {
      @include btn-default;

      border-radius: 50px;
      background-color: inherit;
      color: $primary-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $secondary-color;
        background-color: $primary-color;
      }
    }
  }
}


.stat {
  @include tab-s {
    grid-template-columns: repeat(3, 1fr);
  }
  display: grid;
  justify-content: center;
  gap: 2px;
  text-align: center;

  &__link {
    display: grid;
    align-content: space-evenly;
    padding: 20px 30px;
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  &__list {
    margin: 0;

    .list-item {
      margin: 0;
    }
  }
}

// ALWAYS END
//@import "media";
